{% load static %} 
<html>
    <head> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    </head> 
    <body>
            <nav class="navbar navbar-expand-lg" style="background-color: #85181a">
                <a class="navbar-brand text-white" href="#">ANTÜSÜ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                  
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-white font-weight-light" href="/home/">INICIO<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white font-weight-light" href="/zapatos/compras">PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white font-weight-light" href="#">MARCAS</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white font-weight-light" href="#" tabindex="-1" aria-disabled="true">BLOG</a>
                    </li>
                  </ul>
                  
                  <form class="form-inline my-2 my-lg-0">
                      <button class="btn btn-outline bg-dark  text-white my-2 my-sm-0"><a href="/clientes/clientescreate" class="text-white text-decoration-none font-weight-light">Iniciar Sesión</a></button>
                  </form>
                </div>
            </nav>
                  
            <div class="text-center">
                <img src="../../../static/antusu.png" style="width: 30%">
            </div>
            
            <div class="card-group">
                  
            {% for zapato in zapato_list %}
        
              <div class="card" style="width: 18rem;">
                <img src="{{ zapato.imagen }}" class="card-img-top mx-auto d-block" alt="..." style="width: 235px; height: 245px;">
                <div class="card-body">
                  <a href="/zapatos/zapatodetail/{{ zapato.id }}" class="text-dark"><h5 class="card-title text-center">{{ zapato.nombre }}</h5></a>
                  <p class="text-center text-muted" style="font-size: 10px">By {{ zapato.marca }}</p>
                  <p class="card-text text-center font-weight-bold">${{ zapato.precio }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">{{ zapato.tipo }}</small>
                </div>
              </div>

            {% endfor %}

          </div>

            <br>
            <br>
<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #85181a">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white font-weight-light">© 2019 CAPS ISIS-2503:
      <a href="https://mdbootstrap.com/education/bootstrap/" class="text-white font-weight-light"> ANTÜSÜ - Universidad de los Andes</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
    </body>
</html>