{% load static %} 
<html>
    <head> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
    </head> 
    <body>
            <nav class="navbar navbar-expand-lg" style="background-color: #85181a">
                    <a class="navbar-brand text-white" href="#">ANTÜSÜ</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link text-white font-weight-light" href="/home/">INICIO<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white font-weight-light" href="/zapatos/compras">PRODUCTOS</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link text-white font-weight-light" href="#">MARCAS</a>
                              </li>
                        <li class="nav-item">
                          <a class="nav-link text-white font-weight-light" href="#" tabindex="-1" aria-disabled="true">BLOG</a>
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                            <button class="btn btn-outline bg-dark  text-white my-2 my-sm-0"><a href="/clientes/clientescreate" class="text-white text-decoration-none font-weight-light">Iniciar Sesión</a></button>
                      </form>
                    </div>
                  </nav>
        
                  <br>
                  <h3 class="p-3">Detalle de la compra</h3>
                  <ul class="list-group">
                        <li class="list-group-item">Fecha: {{ compra.fecha }}</li>
                        <li class="list-group-item">Cliente: {% for cliente in compra.cliente.all %}{{ cliente }} {% endfor %}</li> 
                        <li class="list-group-item">Teléfono: {% for cliente in compra.cliente.all %} {{ cliente.telefono }} {% endfor %}</li>
                        <li class="list-group-item">Correo electrónico: {% for cliente in compra.cliente.all %} {{ cliente.correo }} {% endfor %}</li>                
                        <li class="list-group-item">Producto: {% for zapato in compra.zapato.all %}{{ zapato }} {% endfor %}</li>
                        <li class="list-group-item">Talla: {% for zapato in compra.zapato.all %} {% for talla in zapato.talla.all %} {{ talla.numero }} {% endfor %} {% endfor %}</li>
                        <li class="list-group-item">Precio: ${% for zapato in compra.zapato.all %}{{ zapato.precio }} {% endfor %}</li>
                  </ul>

                      <br>

                      <form>
                            <script
                                src="https://checkout.epayco.co/checkout.js"
                                class="epayco-button"
                                data-epayco-key="491d6a0b6e992cf924edd8d3d088aff1"
                                data-epayco-amount="50000"
                                data-epayco-name="Vestido Mujer Primavera"
                                data-epayco-description="Vestido Mujer Primavera"
                                data-epayco-currency="cop"
                                data-epayco-country="co"
                                data-epayco-test="true"
                                data-epayco-external="false"
                                data-epayco-response="https://ejemplo.com/respuesta.html"
                                data-epayco-confirmation="https://ejemplo.com/confirmacion">
                            </script>
                        </form>
                      <br>
          <!-- Footer -->
          <footer class="page-footer font-small" style="background-color: #85181a">
          
              <!-- Copyright -->
              <div class="footer-copyright text-center py-3 text-white font-weight-light">© 2019 CAPS ISIS-2503:
                <a href="https://mdbootstrap.com/education/bootstrap/" class="text-white font-weight-light"> ANTÜSÜ - Universidad de los Andes</a>
              </div>
              <!-- Copyright -->
            </footer>
            <!-- Footer -->
                       

    </body>
</html>